@font-face {
    font-family: 'Sofia Pro';
    src: url('/font/SofiaProBold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'Sofia Pro';
    src: url('/font/SofiaProMedium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}
  
@font-face {
    font-family: 'Sofia Pro';
    src: url('/font/SofiaProLight.ttf') format('truetype');
    font-style: normal;
}

*{
    font-family: 'Sofia Pro' !important;
}
html{
    @apply scroll-smooth ;
    color: #32e52877;
}
/* light button */
.light span{
   @apply text-green
}

/* scroll to top button */
.ant-float-btn-body{
    @apply bg-gradient-to-r from-cyan to-green !important;
}
.anticon-vertical-align-top{
    @apply text-white !important
}

/* Input */
:where(.css-dev-only-do-not-override-17seli4).ant-input-outlined:hover, :where(.css-dev-only-do-not-override-17seli4).ant-input-outlined:focus, 
:where(.css-dev-only-do-not-override-17seli4).ant-input-outlined:focus-within, 
:where(.css-dev-only-do-not-override-17seli4).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    @apply border-green !important
}
.ant-select-selector{
    border-radius: 18px !important;
}

/* Modal */
:where(.css-dev-only-do-not-override-17seli4).ant-modal .ant-modal-content {
    @apply p-4 md:p-6 rounded-3xl bg-gray-50 border-solid border-[.5px] border-gray-200 !important;
}

/* Switch */
:where(.css-dev-only-do-not-override-17seli4).ant-switch.ant-switch-checked,
:where(.css-dev-only-do-not-override-17seli4).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled){
    @apply bg-gradient-to-r from-cyan to-green
}

