@font-face {
    font-family: 'Sofia Pro';
    src: url('/font/SofiaProBold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'Sofia Pro';
    src: url('/font/SofiaProMedium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}
  
@font-face {
    font-family: 'Sofia Pro';
    src: url('/font/SofiaProLight.ttf') format('truetype');
    font-style: normal;
}

*{
    font-family: 'Sofia Pro' !important;
}
html{
    @apply scroll-smooth ;
}
/* light button */
.light span{
   @apply text-green
}

/* scroll to top button */
.ant-float-btn-body{
    @apply bg-gradient-to-r from-cyan to-green !important;
}
.anticon-vertical-align-top{
    @apply text-white !important
}

/* Input */
:where(.css-dev-only-do-not-override-17seli4).ant-input-outlined:hover, :where(.css-dev-only-do-not-override-17seli4).ant-input-outlined:focus, 
:where(.css-dev-only-do-not-override-17seli4).ant-input-outlined:focus-within {
    @apply border-green !important
}
